* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.nav__links a {
    margin-left: 17px;
    text-decoration: none;
    
}
.conteiner__main{
    text-align: center
}

.conteiner__main-titulo{
    margin: 10px;
    font-size: 50px;

}
.conteiner__main-texto{
    font-size: 20px;
    margin: 5px;
}

.contador {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botones{
    width: 20px;
    padding: 5px;
}
.conteiner__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.conteiner__products-card{
    background-color: gray;
    border-radius: 3px;
    margin: 5px;
    width: 200px;
    height: 100px;
    text-align: center;
}